@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

/* -- FORMS -- */ 


/* -- TYPOGRAPHY -- */ 

* { 
	font-family: 'Open Sans', sans-serif; 
	font-size: 1rem;
	
  }

h1, h4 {
	
	
	font-family: 'Pacifico', cursive;
	color: #fff;
}


h2 {
	
	font-size: 1.5rem;
	margin: 0 auto;
	text-transform: uppercase;
	color: #0eb493;
	font-weight: 800;
	text-align: center;
	padding: 2.5em 0 1em;
	border-bottom: 1px solid #DCE1E5;
	
}

h3 {
	
	color: #062033;
	
	
}

h4 {
	
	font-size: 1.75rem;
	font-weight: 100;
}

#meet-brandi p {
	
	margin-bottom: 0;
}


#meet-brandi p:first-child{
	
	font-size: 2.75rem;
}

#meet-brandi p:nth-child(2), #meet-brandi p:nth-child(2) span {
	
	font-size: 2rem;
}

#meet-brandi p:first-child span {
	
	font-size: 2.75rem;
	font-weight: bold;
	
}

#brandi p {
	
	font-size: .85rem;
	color: #587C79;
}

#features p, footer p {
	
	font-size: .85rem;
	line-height: 1.75em;
}

#features p {
	
	color: #4D606E;
}

#works p {
	
	font-size: 1rem;
	font-weight: bold;
	color: #384D5C;
}

p{
	line-height: 1.5em;
}

footer p, a, #meet-brandi p{
	
	color: #fff;
}

#meet-brandi p:nth-child(2) span {
	
	color: #0FDC95;
}

/* Place media queries under your small viewport size */

/*medium media query size */

@media only screen and (max-width: 768px)  {
	
	html {
		
		font-size: 1.25rem;
	}
	
	
}

/*large media query size */

@media only screen and (min-width: 1024px) {
	
	h3 {
	
	color: #062033;
	margin-top: 4em;
}
	
}

/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */



/* -- FRAMEWORK -- */ 

#brandi h1 {
	
	display: inline-block;
}

.wrapper {
	
	width: 70%;
}

@media only screen and (min-width: 768px)  {
	
	.wrapper {
		
		width: 75%;
	}
	
	
	
}

/*large media query size */

@media only screen and (min-width: 1024px)  {
	
	.wrapper {
		
		width: 75%;
	}
	
}

/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

/* -- NAVIGATION -- */ 



li {
	
	display: inline-block;
	margin-top: 1em;
	
	
}

a {
	
	text-decoration: none;
	font-size: 1rem;
	
}

a:hover {
	
	color: #1EA78D;
}

@media only screen and (min-width: 800px)  {
	
	
	
	a {
	
	
	font-size: .75rem;
	float: right;
	
}
	
	li {
	
	display: inline-block;
	margin-top: 1.25em;
	
}

}

/*large media query size */

@media only screen and (min-width: 1024px) {
	
	nav {
		
		float: right;
	}
	
	
	a {
	
	font-size: .85rem;
	
}
	
	li {
	
	display: inline-block;
	margin-top: 1.25em;
	
}
	
}



/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */

/* -- ALIGNMENTS -- */ 

.col-center {
	
	float: none;
	margin: 0 auto;
}

.f-right {
	
	float: right;
}

.f-left {
	
	float: left;
}

.txt-center {
	
	text-align: center;
}

#brandi p{
	
	margin-top: 2.75em;
}

#meet-brandi p {
	
	margin-top: 0;
}

#meet-brandi p:last-child {
	
	padding-top: 1em;
}

li {
	
	
}

#features p  {
	
	margin-bottom: 7.5em;
}

#works p {
	
	margin-bottom: 10em;
}

@media only screen and (max-width: 768px)  {
	
	li {
	
	margin-left: 1.25em;
}
	
}

/*large media query size */

@media only screen and (min-width: 1024px) {
	
	li {
	
	margin-left: 1.25em;
}
	
}


/* -- COLOR -- */ 

#brandi {
	
	background-color: #10443f;
	
	
}

#features {
	
	background-color: #f4f7f9;
	
}

#meet-brandi {
	
	background-color: #104f41;
	padding: 15em 0 8em;
}

footer {
	
	background-color: #1EA78D;
}

